@import 'tailwindcss';

:root {
  --primary: #6965db;
  --primary-hover: #5b57d1;
  --primary-soft: #f1f0ff;
  --primary-border: #c8c6f5;
  --primary-muted: #8c89e8;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #000000;
}
